#root {
  width: 90%;
  text-align: center;
  margin: auto;
}
#root2 {
  width: 100%;
  margin: auto;
}

#injection{
  color: #344cb7;
}

.content-container {
  margin: auto;
  width: 90%;
  min-height: 91vh;
  align-content: center;
  background: #344cb7;
  border: 1px solid black;
}

.create-form {
  background-color: #f0f1f8;
  width: 60%;
  padding: 2%;
  margin: auto;
  overflow: hidden;
}

#navlink {
  padding-right: 5%;
  font-size: 30px;
  margin: auto;
}

.create-form-components {
  margin: auto;
  width: 40%;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.create-submit-button {
  margin-top: 2%;
  width: 30%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 1%;
}

.create-submit-button:hover {
  margin-top: 2%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 1%;
}

.cancel-update-button {
  margin-top: 2%;
  width: 30%;
  background-color: rgb(185, 6, 6);
  color: white;
  margin: 1%;
}

.cancel-update-button:hover {
  margin-top: 2%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 1%;
}

.page-headings{
  color:white;
}

.labels{
  color:white;
  font-size: 16px;
}



.update-no-students-heading{
  color:rgb(212, 212, 212);
}